<%= image_tag(@portfolio.main_image) %>

<h1>Show Page</h1>

<p><%= @portfolio.title %></p>
<p><%= @portfolio.subtitle %></p>
<p><%= @portfolio.body %></p>

<h1>Technology Used: </h1>

<% @portfolio.technologies.each do |tech|  %>
  <p><%= tech.name %></p>
<% end %>
